{% extends "base.html" %}

{% block content %}
    {% if not current_user.is_authenticated %}
        <a class="button" href="/login">Login with Google account</a>
    {% else %}
        <p>Logged in as {{ current_user.email|e }}</p>
        {% if hosts_with_users|length > 0 %}
            Managed hosts and users:<br>
            {% for host in hosts_with_users %}
                &nbsp;&nbsp;Host: {{ host.hostname }}<br>
                {% for user in host.users %}
                    &nbsp;&nbsp;&nbsp;&nbsp;- <a class="button" href="/time/{{ user.uuid }}">{{ user.login }}</a><br>
                {% endfor %}
            {% endfor %}
        {% else %}
            No managed hosts with users found
        {% endif %}
    {% endif %}
{% endblock %}
